body{
    display: grid;
    font-family: 'RocknRoll One', sans-serif;
    color: #241023;
    background-color: #AEADF0;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
    /* color: #3B2D2B; */
}

header{ 
    order: 1
}


h1{
    font-family: 'DynaPuff', cursive;
    background-color: #7BBE3C;
}

section {
    display: none;
}

.wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.show {
    display: block;
}

footer {
    /* position: fixed; */
    text-align: center;
    /* width: 100vw; */
    margin-top: 20px;
    background-color: #7BBE3C;
    order:3;
    /* display: flex; */
}

.search{ 
    display: flex;
    justify-content: center;
}

h1{ 
    text-align: center;
}


h2{
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


.wishlist h3 {
    text-align: center;
}

.wishlist {
    background-color: #D8C99B;
}

main{
    display: grid;
    grid-template-columns: 70% 30%;
    /* height: 50vh; */
    /* align-items: end; */
    order: 2;
}

